
@{
  ViewData["Title"] = "Index";

}

@await Html.PartialAsync("Navigation")

<h2>Index</h2>

<section class="navigation">
  <div id="side-nav" class="sidenav">
    <span class="closebtn" onclick="closeNav()">&times;</span>
    <a href="#" id="first-option">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  <div id="second-nav" class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</section>