
@{
  ViewData["Title"] = "Modal";

}

@await Html.PartialAsync("Navigation")

<h2>Modal</h2>
<div id="modal-container" class="modal">
  <div class="modal-contents">
        <div class="inventory-slide">
          <span class="close">&times;</span>
          <h3>A-10</h3>
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/A-10_-_32156159151.jpg"/>
          <div class="inventory-label-outside">
            <p>Commonly known as the Warthog</p>
            </div>
          </div>
  </div>
</div>
<button class="button">Click Me</button>
