<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
  @RenderBody()
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="  https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>