body {
}

#open-button {
  height: 10vh;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: aqua;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
#second-nav {
  margin-left: 200px;
}

  .sidenav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

    .sidenav .closebtn:hover, a:hover, #open-button:hover {
      color: ghostwhite;
      cursor: pointer;
    }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.container {
  width: 35%;
  z-index: 0;
}

.modal {
  padding: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


  /*-------------------------------------------------------------------------------------------*/

.button {
  text-align: center;
  background-color: deepskyblue;
  color: white;
  padding: 14px 20px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  width: 100%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

  .close:hover,
  .close:focus {
    color: black;
    cursor: pointer;
  }

/* Modal Content/Box */
.modal-contents {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}