body {
}

#open-button {
  height: 10vh;
}

.sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: aqua;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
#second-nav {
  margin-left: 200px;
}

  .sidenav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

    .sidenav .closebtn:hover, a:hover, #open-button:hover {
      color: ghostwhite;
      cursor: pointer;
    }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
  background-color: lightblue;
}


  /*-------------------------------------------------------------------------------------------*/

.button {
  text-align: center;
  background-color: deepskyblue;
  color: white;
  padding: 14px 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  width: 15%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

  .close:hover,
  .close:focus {
    color: black;
    cursor: pointer;
  }

.modal-contents {
  margin: 50px auto;
  padding-top: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  background-color: #fefefe;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inventory-slide img {
  vertical-align: middle;
  width: 100%;
  max-height: 450px;
}


/*------------------------------------------Mobile Menu-------------------------------------------------*/

.mobile-container {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  align-content: center;
  width: 30%;
  margin: auto;
}

@media only screen and (max-width: 400px) {
  .mobile-container {
    width: 100%;
  }
}

.bar1, .bar2, .bar3 {
  width: 30px;
  margin: auto;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-0px, 11px);
  transform: rotate(-45deg) translate(-0px, 11px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-0px, -12px);
  transform: rotate(45deg) translate(-0px, -12px);
}

.inner-mobile-container {
  margin-top: 25px;
}

.inner-mobile-container, .hidden-mobile-contents {
  width: 100%;
}

.hidden-figure{
  display: none;
}

.nested-hidden-contents {
  border-top: solid;
  display: none;
}

